language: java

os:
  - linux
  - osx

matrix:
  include:
    - os: linux
      dist: trusty
      jdk: oraclejdk8
    - os: linux
      dist: trusty
      jdk: oraclejdk9
      before_install:
        - sudo rm "${JAVA_HOME}/lib/security/cacerts"
        - sudo ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"

  exclude:
    - os: osx
      jdk: oraclejdk11
    - os: osx
      jdk: oraclejdk12
    - os: osx
      jdk: openjdk12

jdk:
  - oraclejdk11
  - oraclejdk12
  - openjdk11
  - openjdk12

cache:
  directories:
    - $HOME/.m2

